In [1]:
import pandas as pd
import numpy as np
import os
from env import host, user, password
from sklearn.impute import SimpleImputer
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns
import env
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.cluster import KMeans
import scipy
import christian_wrangle
import sklearn.linear_model
import sklearn.preprocessing
import warnings
warnings.filterwarnings("ignore")
import wrangle
import viz_explore
import scipy.stats as stats

In [32]:
df, train, validate, test, X_train, y_train, X_validate, y_validate, X_test, y_test, train_scaled, X_train_scaled, y_train_scaled, validate_scaled, X_validate_scaled, y_validate_scaled, test_scaled, X_test_scaled, y_test_scaled=christian_wrangle.wrangle_zillow()

In [33]:
train.head()

,parcelid,bathrooms,bedrooms,condition,sq_ft,full_baths,latitude,longitude,lot_size,census_tract,...,sq_ft_per_bathroom,sq_ft_per_bedroom,sq_ft_per_room,has_half_bath,age_bin,tax_rate,price_per_sq_ft,Los_Angeles,Orange,Ventura
16469,10841073,2.0,2.0,6.0,1721.0,2.0,34189309.0,-118435470.0,8103.0,6.037128e+07,...,860.5,860.500000,1080.619471,0,3,1.289419,32.477629,1,0,0
41912,14438533,3.0,4.0,6.0,2580.0,3.0,33456409.0,-117632929.0,12191.0,6.059042e+07,...,860.0,645.000000,1619.987353,0,2,1.000579,98.870930,0,1,0
68353,13965242,2.0,3.0,6.0,1288.0,2.0,33741136.0,-117979587.0,6695.0,6.059100e+07,...,644.0,429.333333,214.666667,0,3,1.303239,71.330745,0,1,0
64323,12577756,2.0,3.0,6.0,1583.0,2.0,33850296.0,-118238478.0,5611.0,6.037543e+07,...,791.5,527.666667,993.968984,0,3,1.315014,69.488313,1,0,0
71861,12511184,2.0,2.0,8.0,1024.0,2.0,33786721.0,-118136304.0,9923.0,6.037575e+07,...,512.0,512.000000,642.971725,0,3,1.196013,120.921875,1,0,0

In [34]:
X_train_scaled.head()

,parcelid,bathrooms,bedrooms,condition,sq_ft,full_baths,latitude,longitude,lot_size,census_tract,...,age,sq_ft_per_bathroom,sq_ft_per_bedroom,sq_ft_per_room,has_half_bath,tax_rate,price_per_sq_ft,Los_Angeles,Orange,Ventura
0,0.000849,0.333333,0.333333,0.454545,0.515721,0.5,0.573098,0.520347,0.001129,0.000365,...,0.584,0.494556,0.366901,0.587500,0.0,0.544719,0.161422,1.0,0.0,0.0
1,0.024477,1.000000,1.000000,0.454545,0.890830,1.0,0.076040,0.966372,0.001715,0.296869,...,0.208,0.494137,0.254749,0.907011,0.0,0.140196,0.492855,0.0,1.0,0.0
2,0.021369,0.333333,0.666667,0.454545,0.326638,0.5,0.269144,0.773711,0.000927,0.297648,...,0.392,0.313233,0.142510,0.074527,0.0,0.564074,0.355375,0.0,1.0,0.0
3,0.012255,0.333333,0.666667,0.454545,0.455459,0.5,0.343177,0.629829,0.000771,0.005983,...,0.384,0.436767,0.193685,0.536170,0.0,0.580565,0.346178,1.0,0.0,0.0
4,0.011818,0.333333,0.333333,0.636364,0.211354,0.5,0.300060,0.686613,0.001390,0.006411,...,0.280,0.202680,0.185532,0.328246,0.0,0.413904,0.602933,1.0,0.0,0.0

In [4]:
clean_df = wrangle.clean_and_prep_data(raw_data)

In [5]:
clean_df.head()

,parcelid,bathrooms,bedrooms,condition,sq_ft,full_baths,latitude,longitude,lot_size,census_tract,...,logerror,county,age,sq_ft_per_bathroom,sq_ft_per_bedroom,sq_ft_per_room,has_half_bath,age_bin,tax_rate,price_per_sq_ft
2,14186244,2.0,3.0,6.0,1243.0,2.0,33886168.0,-117823170.0,8432.0,6.059022e+07,...,0.005383,Orange,60.0,621.500000,414.333333,207.166667,0,3,1.148823,68.615447
3,12177905,3.0,4.0,8.0,2376.0,3.0,34245180.0,-118240722.0,13038.0,6.037300e+07,...,-0.103410,Los_Angeles,52.0,792.000000,594.000000,1491.895330,0,3,1.224661,45.840909
4,10887214,3.0,3.0,8.0,1312.0,3.0,34185120.0,-118414640.0,278581.0,6.037124e+07,...,0.006940,Los_Angeles,58.0,437.333333,437.333333,823.807522,0,3,1.284590,56.159299
5,17143294,2.0,3.0,6.0,1492.0,2.0,34230044.0,-118993991.0,903.0,6.111005e+07,...,-0.020526,Ventura,40.0,746.000000,497.333333,248.666667,0,2,1.059644,133.136729
9,11542646,3.0,2.0,8.0,1290.0,3.0,33998800.0,-118416000.0,54048.0,6.037275e+07,...,-0.036763,Los_Angeles,42.0,430.000000,645.000000,809.993676,0,3,1.227194,117.289147

In [23]:
clean_df.condition.value_counts()

6.0     25287
8.0      9187
7.0      2437
4.0      1842
9.0       579
5.0       120
11.0       99
10.0       14
3.0         5
12.0        3
1.0         1
Name: condition, dtype: int64

In [24]:
clean_df.condition

2        6.0
3        8.0
4        8.0
5        6.0
9        8.0
        ...
77567    6.0
77568    6.0
77569    8.0
77570    6.0
77573    6.0
Name: condition, Length: 39574, dtype: float64

In [20]:
def split(df, target_var):
    '''
    This function takes in the dataframe and target variable name as arguments and then
    splits the dataframe into train (56%), validate (24%), & test (20%)
    It will return a list containing the following dataframes: train (for exploration), 
    X_train, X_validate, X_test, y_train, y_validate, y_test
    '''
    # split df into train_validate (80%) and test (20%)
    train_validate, test = train_test_split(df, test_size=.20, random_state=13)
    # split train_validate into train(70% of 80% = 56%) and validate (30% of 80% = 24%)
    train, validate = train_test_split(train_validate, test_size=.3, random_state=13)

    # create X_train by dropping the target variable 
    X_train = train.drop(columns=[target_var])
    # create y_train by keeping only the target variable.
    y_train = train[[target_var]]

    # create X_validate by dropping the target variable 
    X_validate = validate.drop(columns=[target_var])
    # create y_validate by keeping only the target variable.
    y_validate = validate[[target_var]]

    # create X_test by dropping the target variable 
    X_test = test.drop(columns=[target_var])
    # create y_test by keeping only the target variable.
    y_test = test[[target_var]]

    return train, X_train, X_validate, X_test, y_train, y_validate, y_test

In [21]:
train, X_train, X_validate, X_test, y_train, y_validate, y_test = split(clean_df,'logerror')

In [22]:
scaler = MinMaxScaler()

In [29]:
cols_to_scale = ['latitude', 'longitude', 'age']

In [30]:
scaler.fit(X_train[cols_to_scale])

MinMaxScaler()

In [31]:
X_train_scaled

NameError: name 'X_train_scaled' is not defined

In [12]:
scaler = MinMaxScaler()

MinMaxScaler()

AttributeError: 'numpy.ndarray' object has no attribute 'head'